<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>comments</title>
</head>
<body>
    <h1>1. 표준 HTML 주석</h1>
    <p>자바스클비트의 표준 HTML 주석은 타임리프가 렌더링 하지 않고, 그대로 남겨둔다.</p>
    <!--
    <span th:text="${data}">html data</span>
    -->
    <h1>2. 타임리프 파서 주석</h1>
    <p>타임리프 파서 주석은 타임리프의 진짜 주석이다. 렌더링에서 주석 부분을 제거한다.</p>
    <!--/* [[${data}]] */-->
    <!--/*-->
    <span th:text="${data}">html data</span>
    <!--*/-->

    <h1>3. 타임리프 프로토타입 주석</h1>
    <p>HTML 파일을 웹 브라우저에서 그대로 열어보면 HTML 주석이기 떄문에 이 부분이 웹 브라우저가 렌더링하지 않는다.
    타임리프로 렌더링을 거치면 이 부분이 정상 렌더링 된다.</p>
    <!--/*/
    <span th:text="${data}">html data</span>
    /*/-->
</body>
</html>