<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>javascript</title>
</head>
<body>
    <script>
        var username = [[${user.username}]];
        var age = [[${user.age}]];
        //자바스크립트 내추럴 템플릿
        var username2 = /*[[${user.username}]]*/ "test username";
        //객체
        var user = [[${user}]];
    </script>
    <script th:inline="javascript">
        var username = [[${user.username}]];
        var age = [[${user.age}]];
        //자바스크립트 내추럴 템플릿
        var username2 = /*[[${user.username}]]*/ "test username";
        //객체
        var user = [[${user}]];
    </script>
</body>
</html>